<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employees</title>
</head>
<body>
    <div>
        <h2>
            List Employees
            <hr/>
        </h2>
        <table border="1">
            <thead>
            <tr>
                <th>Employee Name</th>
                <th>Employee Email</th>
                <th>Employee Department</th>
            </tr>
            <tbody>
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.department}"></td>
                </tr>
            </tbody>
            </thead>
        </table>
    </div>
</body>
</html>